.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;

  img,
  video {
    height: 200px;
  }
}

.cardBody {
  display: flex;
  align-items: center;
  justify-content: center;
}
